.btn {
    text-decoration: none;
    border: 0px solid $green;
    border-radius: .5rem;    
    padding: .75rem 1rem;

    font-size: 1.2em;

    &.on {
        &.dark-bg {
            color: #fff;
            border-color: #fff;
            background: rgba(255,255,255,.25);

            &.btn-cta {
                background-color: #fff;
                color: #000;
            }
        }

        &.medium-bg {
            color: #fff;
            border-color: #fff;
            background: rgba(0,0,0,.25);

            &.btn-cta {
                background-color: #fff;
                color: #000;
            }
        }
    }

    &.btn-cta {
        background: #fff;

    }
}